<div *ngIf="appState == 'default'">
	<h4>Add Todo</h4>
	<form (submit)="addTodo()">
		<input class="form-control" type="text" name="text" [(ngModel)]="text" />
	</form>
</div>

<div *ngIf="appState == 'edit'">
	<h4>Edit Todo</h4>
	<form (submit)="updateTodo()">
		<input class="form-control" type="text" name="text" [(ngModel)]="text" />
	</form>
</div>
<br/>
<h4>Todo List</h4>
<ul class="list-group">
	<li *ngFor="let todo of todos" class="list-group-item">
		<input type="checkbox" (click)="checkTodo(todo.text)" [checked]="todo.check">
		<span (click)="editTodo(todo)">{{todo.text}}</span>
		<button (click)="deleteTodo(todo.text)" class="btn btn-danger btn-xs pull-right">x</button>
	</li>
</ul>
